/* .productCard span{
    background-color: rgb(186, 185, 187);
    border: 2px solid black;
    padding: 0.2vw;
    color: rgb(0, 0, 0);
} */
.productCard button{
    /* background-color: #307bf3; */
    /* color: white; */
    /* width: 10vw; */
    /* padding: 0.5vw 0.5vw; */
    /* border-radius: 0.5vw; */
    /* box-shadow:0px 1px 10px 0px black; */
}
.productCard img{
    background-color: #336e96;
}
.productCard{
    box-shadow: 1px 1px 19px 3px black;
}
#brand{
    background-color: rgb(235, 231, 231);
    font-weight: bold;
    padding: 1vw;
    border-radius: 1vw;
    display: inline-block;
    color:#336e96;
    border: 1px solid black;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #singleCard{
        /* background-color: rebeccapurple; */
        display: flex;
        flex-direction: column;
    }
    #details{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
}
@media screen and (max-width:767px) {
    #singleCard{
        width: 60vw;
    }
    #details{
        display: flex;
        flex-direction: row;
        gap: 1vw;
        /* background-color: red; */
        width: 80%;
        margin: 1vw 0px;
        font-size: 3vw;
    }
    
}