
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Palmyrene&family=Noto+Serif+Khmer:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* color: red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Palmyrene", sans-serif;
}
body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}
html{
    overflow-x: hidden;
}